/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}
/* /common */

nav,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1em;
}

/* nav */
nav {
    height: 15vh;
}

nav #nav-left {
    display: flex;
    align-items: center;
    height: 100%;
}

nav #nav-left img {
    height: 80%;
}

nav #play-button {
    padding: .1em 1em;
}
/* /nav */

/* main */
main {
    background-color: #7fffd4;
}

main #container {
    display: flex;
    flex-wrap: wrap;

    max-width: 400px;   
    height: calc(100vh - 25vh); 
    margin: auto;
    padding: 2em 0;
}

main #container .square {
    display: flex;
    justify-content: center;
    align-items: center;
    
    aspect-ratio: 1;
    border: 1px solid black; /*TEST*/
}

.blue {
    color: white;
    background-color: rgb(0, 94, 255);
}
/* /main */

/* footer */
footer {
    height: 10vh;
    font-size: .8em;
}
/* /footer */