/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}
/* /common */

nav,
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 1em;
}

/* nav */
nav {
    height: 15vh;
}

nav #nav-left {
    display: flex;
    align-items: center;
    height: 100%;
}

nav #nav-left img {
    height: 80%;
}

nav #play-button {
    padding: .1em 1em;
}
/* /nav */

/* main */
main {
    background-color: #7fffd4;
}

main #container {
    display: flex;
    flex-wrap: wrap;

    max-width: 500px;
    margin: auto;
    padding: 2em 0;
}

main #container .square {
    display: flex;
    justify-content: center;
    align-items: center;
    
    aspect-ratio: 1;
    border: 1px solid black; /*TEST*/
}

/* /main */

/* footer */
footer {
    height: 10vh;
    font-size: .8em;
}
/* /footer */